<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lib/static/css/main.css">
    <link rel="stylesheet" href="views/app/components/global/audio/audio.css">
</head>
<body>
<div id="app" style="display: none;">
    <keep-alive :max="10">
        <component v-if="IComponent&&IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    </keep-alive>
    <component v-if="IComponent&&!IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    <app-global-audio v-if="IComponent" v-bind:IComponentName="IComponent.name"
                      ref="app-global-audio"></app-global-audio>
</div>
<div id="dialog" style="display: none;" class="drag">
    <keep-alive :max="10">
        <component v-if="IComponent&&IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    </keep-alive>
    <component v-if="IComponent&&!IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    <dialog-global-head v-if="IComponent" v-bind:IComponentName="IComponent.name"
                        ref="dialog-global-head"></dialog-global-head>
</div>
<div id="menu" style="display: none;width: 100%;height: 100%;" class="no-drag">
    <keep-alive :max="10">
        <component v-if="IComponent&&IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
    </keep-alive>
    <component v-if="IComponent&&!IComponent.keepAlive" :is="IComponent.name" :ref="IComponent.name"></component>
</div>
<script type="module">
    import Vue from './lib/vue.esm.browser.min.js';

    require('electron').ipcRenderer.on('dataJsonPort', async (event, e) => {
        e = JSON.parse(decodeURIComponent(e));
        document.title = require('electron').remote.app.name;
        document.getElementById(e.el).style.display = null;
        if (e.el === 'menu') {
            document.body.setAttribute('class', 'drag');
            document.body.onmouseleave = () => window.close();
        }
        require('./lib/view').vue(Vue, e.el, e.data).then(lib => new Vue(lib))
    });
</script>
</body>
</html>
